@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.related-products img.object-cover {
  object-fit: contain !important;
}

/* Hide scrollbar if needed */
::-webkit-scrollbar {
  display: none;
}

/* Updated Keyframes with Smoother Easing */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s cubic-bezier(0.77, 0, 0.175, 1) both;
}

.animate-slide-down {
  animation: slide-down 1s cubic-bezier(0.77, 0, 0.175, 1) both;
}

.animate-slide-left {
  animation: slide-left 1s cubic-bezier(0.77, 0, 0.175, 1) both;
}
